@using web.Services

<h6 class="bottom-padding">Add plant</h6>
<div>
    <div class="tabs">
        <a class="active" data-ui="#manually-tab">
            <i>potted_plant</i>
            <span>Manually</span>
        </a>
        <a data-ui="#sensor-tab">
            <i>sensors</i>
            <span>Sensor</span>
        </a>
    </div>
    <div id="manually-tab" class="page top-padding active">
        <form hx-post="/api/plants/manually" hx-on:plant-added="ui('#add-plant')">
            <div class="s12 grid top-padding">
                <div class="s12">
                    <div class="s12 field label border no-margin">
                        <input type="text" name="manuallyName" value="@_plantName">
                        <label>Name</label>
                    </div>
                </div>
                <nav class="s12 right-align">
                    <button class="" type="submit">Add</button>
                    <button class="fill" type="button" data-ui="#add-plant">Close</button>
                </nav>
            </div>
        </form>
    </div>
    <div id="sensor-tab" class="page top-padding">
        <form hx-post="/api/plants/sensor" hx-on:plant-added="ui('#add-plant')">
            <div class="s12 grid">
                <PlantSensorScanner/>
            </div>
            <nav class="s12 right-align">
                <button class="" type="submit">Add</button>
                <button class="fill" type="button" data-ui="#add-plant">Close</button>
            </nav>
        </form>
    </div>
</div>

@code {
    private string _plantName = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        _plantName = NameGenerator.GenerateName();
    }

}