<nav class="bottom s">
    <a href="/" class="@IsCurrentPath("/")">
        <i>home_and_garden</i>
        <div>Home</div>
    </a>
    <a href="/plants" class="@IsCurrentPath("/plants")">
        <i>potted_plant</i>
        <div>Plants</div>
    </a>
    <a href="/hubs" class="@IsCurrentPath("/hubs")">
        <i>sensors</i>
        <div>Hubs</div>
    </a>
    <a href="/settings" class="@IsCurrentPath("/settings")">
        <i>settings</i>
        <div>Settings</div>
    </a>
    <button class="transparent circle" data-ui="#more-menu">
        <i>menu</i>
    </button>
</nav>

<dialog class="bottom scroll" id="more-menu">
    <ul class="list">
        <li>
            <a href="/logout">
                <i>logout</i>
                <div class="max">
                    <h6 class="small">Logout</h6>
                </div>
            </a>
        </li>
    </ul>
</dialog>

@code {

    [Inject] private IHttpContextAccessor HttpContextAccessor { get; set; }

    private string IsCurrentPath(string? path)
    {
        var cssClass = "active";
        var currentPath = HttpContextAccessor?.HttpContext?.Request.Path.Value ?? "";

        if (string.IsNullOrEmpty(path) && string.IsNullOrEmpty(currentPath))
        {
            return cssClass;
        }

        if (path == "/" && currentPath == "/")
        {
            return cssClass;
        }

        if (path != "/" && currentPath.StartsWith(path ?? ""))
        {
            return cssClass;
        }

        return "";
    }

}