@using web.Store
<article class="l12 m12 s12 l m s large-padding">
    <div>
        <div class="row">
            <h6>@Hub.Name</h6>
            <div class="max"></div>
            @if(Hub.LastHealthCheck != null && Hub.LastHealthCheck > DateTime.UtcNow.AddSeconds(-30))
            {
                <i>podcasts</i>
            }
            else
            {
                <i>signal_disconnected</i>
            }
        </div>
        <div class="small-space"></div>
        <span class="chip no-margin">@Hub.DeviceId.ToString()</span>
        @if (Hub.IpAddress != null)
        {
            <span class="chip">@Hub.IpAddress</span>
        }
    </div>
    <nav class="right-align">
        <button class="fill">Firmware</button>
        <button class="fill">Configuration</button>
    </nav>
</article>

@code {
    [Parameter, EditorRequired] public required Hub Hub { get; set; }
}