@using web.Interface.Layouts
@layout MainLayout

<div class="padding page right active">
    <h4>Home</h4>
    <div class="space"></div>
    <h6>Upcoming</h6>
    <article class="medium middle-align center-align">
        <div>
            <i class="extra">event_upcoming</i>
            <h6 class="small">There are no upcoming events.</h6>
        </div>
    </article>
    <div class="space"></div>
    <h6>Due</h6>
    <article class="medium middle-align center-align">
        <div>
            <i class="extra">today</i>
            <h6 class="small">There are no due events.</h6>
        </div>
    </article>
</div>
