@using web.Interface.Layouts
@layout MainLayout

<div class="padding page right active">
    <h4>Hubs</h4>
</div>

<div class="fixed bottom right margin m l">
    <button class="square round extra">
        <i>add</i>
    </button>
</div>