@using web.Services.Version
<main class="padding responsive">
    <article class="l m large-padding auto-width absolute center middle">
        <form hx-post="/login" class="grid large-space">
            <div class="l12 m12">
                <nav>
                    <i class="circle extra">psychiatry</i>
                    <h4>greenguard</h4>
                </nav>
                <pre>@(VersionInfo.InformationalVersion)</pre>
            </div>
            <div class="l12 m12 grid no-space">
                <div class="l12 m12">
                    <div class="field label border fill">
                        <input type="text" name="username">
                        <label>Username</label>
                    </div>
                </div>
                <div class="l12 m12">
                    <div class="field label border fill">
                        <input type="password" name="password">
                        <label>Password</label>
                    </div>
                    <a class="link" href="/forget">Forgot password?</a>
                </div>
            </div>
            <div class="l12 m12">
                <nav>
                    <a href="/register" class="button border">Register</a>
                    <div class="max"></div>
                    <button type="submit">Login</button>
                </nav>
            </div>
        </form>
    </article>

    <form hx-post="/login" class="s grid">
        <div class="s12">
            <nav>
                <i class="circle extra">psychiatry</i>
                <h4>greenguard</h4>
            </nav>
            <pre>@(VersionInfo.InformationalVersion)</pre>
        </div>
        <div class="s12 grid no-space">
            <div class="s12">
                <div class="field label border fill">
                    <input type="text" name="username">
                    <label>Username</label>
                </div>
            </div>
            <div class="s12">
                <div class="field label border fill">
                    <input type="password" name="password">
                    <label>Password</label>
                </div>
                <a class="link" href="/forget">Forgot password?</a>
            </div>
        </div>
        <div class="s12">
            <nav>
                <a href="/register" class="button border">Register</a>
                <div class="max"></div>
                <button type="submit">Login</button>
            </nav>
        </div>
    </form>
</main>

@code {
    [Inject] public required IVersionInfo VersionInfo { get; set; }
}