@using web.Interface.Layouts
@using web.Interface.Components
@layout MainLayout

<div class="padding page right active">
    <h4>Plants</h4>
    <div class="grid">
        <PlantCard />
    </div>
</div>

<div class="fixed bottom right margin m l">
    <button class="square round extra no-margin">
        <i>add</i>
    </button>
</div>

<div class="fixed top right margin s">
    <button class="square round small-margin">
        <i>add</i>
    </button>
</div>
